*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 20px;
  font-family: monospace;
  --value-red: 0;
  --value-green: 0;
  --value-blue: 0;
}

html,
body {
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  height: 15%;
  background-color: rgb(
    var(--value-red),
    var(--value-green),
    var(--value-blue),
    0.3
  );
}

.slider-container {
  display: flex;
  gap: 1.5rem;
  font-size: 1.5rem;
}

.rgb-container {
  display: flex;
  align-items: center;
}
label {
  padding-right: 0.5rem;
}
.hexvalue-container {
  display: flex;
}

.hexvalue {
  margin: auto;
  font-size: 1.5rem;
}

main {
  background-color: rgb(
    var(--value-red),
    var(--value-green),
    var(--value-blue)
  );
  height: 85%;
}
