*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  _border: 2px rgb(155, 155, 155) solid;
}

html,
body,
main {
  height: 100%;
}

html {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
  background-color: rgb(185, 255, 191);
  border-radius: 10px;
}
h1 {
  font-family: monospace;
  font-size: 2.5rem;
  align-self: center;
  margin-bottom: 2rem;
}

.todo-input-container {
  display: flex;
  flex-direction: column;
}
.remove-todos-container {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  align-self: center;
}
.todo-selection-container {
  display: flex;
  flex-direction: column;
}
.all-todos-container,
.open-todos-container,
.done-todos-container {
  margin-block: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.todo-list-container {
  min-height: 5rem;
  align-self: flex-start;
  margin-top: 1rem;
}

li > input {
  margin-right: 1rem;
}

.done-todo {
  text-decoration: line-through;
}
