*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
main {
  height: 100%;
}

html {
  --seconds: 30deg;
  --minutes: 90deg;
  --hours: 180deg;
  --red: 0;
  --green: 0;
  --blue: 0;
  --clr-dial: white;
  --clr-hands: black;
  --clr-digi-clock: black;
  --clr-dial-shadow: rgba(0, 0, 0, 0.534);
  --clr-background-default: #96dab8;
  --clr-background: rgb(var(--red), var(--green), var(--blue), 0.7);
}

.html-dark {
  --clr-dial: rgb(var(--red), var(--green), var(--blue), 0.5);
  --clr-digi-clock: rgb(236, 235, 220);
  --clr-dial-shadow: rgba(236, 235, 220, 0.534);
  --clr-hands: rgb(236, 235, 220);
  --clr-background: rgb(45, 45, 49);
  --clr-dial-default: #96dab89a;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  transition: background-color 1000ms ease;
  background-color: var(--clr-background-default);
  background-color: var(--clr-background);
}

.dial {
  position: relative;
  background-color: var(--clr-dial-default);
  background-color: var(--clr-dial);
  width: 20rem;
  height: 20rem;
  border-radius: 90%;
  border: 3px solid var(--clr-hands);
  box-shadow: 2px 2px 10px var(--clr-dial-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.analog-hours {
  background-color: var(--clr-hands);
  border-radius: 5px;
  height: 5.5rem;
  width: 6px;
  position: absolute;
  transform-origin: bottom;
  transform: rotate(var(--hours));
  bottom: 50%;
}

.analog-minutes {
  background-color: var(--clr-hands);
  border-radius: 5px;
  height: 9rem;
  width: 5px;
  position: absolute;
  transform-origin: bottom;
  transform: rotate(var(--minutes));
  bottom: 50%;
}

.analog-seconds {
  background-color: var(--clr-hands);
  border-radius: 5px;
  height: 9rem;
  width: 2.5px;
  position: absolute;
  transform-origin: bottom;
  transform: rotate(var(--seconds));
  bottom: 50%;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: var(--clr-hands);
  border-radius: 90%;
}
.digital-clock {
  font-size: 3rem;
  font-family: monospace;
  color: var(--clr-digi-clock);
}

.invisible {
  visibility: hidden;
}
